{% comment %} <div class="container">
    <section class="user-profile-section">
        <h2 class="user-profile-title">User Profile</h2>
        <div class="user-info">
            <p><strong>Logged in with:</strong> {{ user.email }}</p>
            <p><strong>Account Type:</strong> {{ user.auth_provider }}</p>
        </div>
        <form class="user-profile-form" id="user-profile-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.profile_image.label_tag }}
                {{ form.profile_image }}
            </div>
            <div class="form-group">
                {{ form.email_verified.label_tag }}
                {{ form.email_verified }}
            </div>
            <button type="submit" class="form-button">Update Profile</button>
        </form>
        <!-- Additional sections for addresses, phones, and orders can go here -->
    </section>
</div> {% endcomment %}
